body {
  font-family: "Lato", sans-serif;
  background: linear-gradient(to bottom right, #e7ab9c, #ffffff);
}
header {
  display: block;
  text-align: center;
}
.openshop button,
.shopandsell button {
  background-color: #fff;
  color: #e7ab9c;
  border: 1px solid #e7ab9c;
  border-radius: 13px;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
}
button:hover {
  color: #fff;
  background-color: #e7ab9c;
}
ul {
  padding-left: 0;
}
hr {
  color: #d9d9d9;
  width: 80%;
}
.social-icons:hover {
  opacity: 0.5;
}
footer {
  background-color: #e7ab9c;
  font-size: 40px;
}
h1 {
  display: inline-block;
}
.logo {
  border-radius: 50%;
  margin: 0 auto;
  width: 150px;
  position: absolute;
  top: 0;
  left: 0;
}
.clothes img {
  border-radius: 14px;
}
#main-menu {
  list-style-type: none;
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.container {
  display: block;
  text-align: center;
  margin: 84px 40px;
}
.shopandsell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.nav-link {
  text-decoration: none;
  color: #000000;
}
.shopandsell p {
  margin-bottom: 10px;
}
.openshop ul {
  list-style-type: none;
  line-height: 2.5;
}
#nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
#nav-bar a {
  flex: 1;
  margin: 30px;
}
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
